body{
    background-color: rgb(1, 1, 20);
}

.light-rays-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    pointer-events: none;
    z-index: 3;
    overflow: hidden;
  }
  